{% extends "app_layout.html" %}
{% block main %}

<div id="content" class="f-row flex-wrap:wrap">
    <section class="box flex-grow:2">
        <h2>Create a Match</h2>
        {{ create_match|safe }}
    </section>
    <section class="box flex-grow:1">
        <h2>Create an Agent</h2>
        {{ create_agent|safe }}
    </section>
    <section class="box flex-grow:1">
        <h2>Your Matches</h2>
    </section>
    <section class="box flex-grow:1">
        <h2>Your Agents</h2>
    </section>
</div>

{% endblock main %}