{% if htmx_target == "main" %}
{% block main %}{% endblock %}
{% else if htmx_target == "state" %}
{% block state %}{% endblock %}
{% else %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.9/dist/missing.min.css" />
  <title>gameplay.computer</title>
</head>

<body>
  <div class="sidebar-layout">
    <header>
      <ul role="list">
        <li><a href="/app">Dashboard</a></li>
        <li>
          <button type="button">Me</button>
          <ul role="list" class="margin">
            <li>
              <a href="/app/me">My Profile</a>
            </li>
            <li>
              <a href="/app/me/matches">My Matches</a>
            </li>
            <li class="block">
              <a href="/app/me/agents">My Agents</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/app/games">Games</a>
        </li>
        <li>
          <a href="/app/users">Users</a>
        </li>
        <li>
          <a href="/app/agents">Agents</a>
        </li>
      </ul>
    </header>
    <div id="main-content">
      <main id="main">{% block main %}{% endblock %}</main>
    </div>
    <footer>footer</footer>
  </div>
  <script src="https://unpkg.com/htmx.org@1.8.6"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script>
    async function loadClerk() {
      await window.Clerk.load()
      if (window.Clerk.user) {
        const user_div = document.getElementById('clerk-user')
        user_div.innerHTML = ''
        window.Clerk.mountUserButton(user_div)
      } else {
        window.location.href = '/'
      }
    }
  </script>
  <script async crossorigin="anonymous" data-clerk-publishable-key="{{ clerk_pub_api_key }}" onload="loadClerk()"
    src="https://enhanced-hagfish-21.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
    type="text/javascript"></script>
</body>

</html>
{% endif %}