{% extends "app_layout.html" %}
{% block main %}

<div class="px-4 pt-6 2xl:px-0">
    <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
        <!-- Match -->
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="flex items-center justify-between mb-4">
                <div class="flex-shrink-0">
                    <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Match</h2>
                </div>
            </div>
            <span>Coming Soon</span>
        </div>
        <!-- Turns -->
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="flex items-center justify-between mb-4">
                <div class="flex-shrink-0">
                    <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Turns</h2>
                </div>
            </div>
            <span>Coming Soon</span>
        </div>
    </div>
</div>

{% endblock main %}