{% extends "app_layout.html" %}
{% block main %}

<div id="state" hx-ext="sse" sse-connect="/app/games/connect4/matches/{{connect4_match.id}}/updates">
    {% block state %}
    <div class="f-row flex-wrap:wrap" hx-get="/app/games/connect4/matches/{{connect4_match.id}}" hx-target="#state"
        hx-trigger="sse:message">
        <section class="box flex-grow:2">
            <h2>Match {{connect4_match.id}}</h2>
            <div>
                {% match connect4_match.status %}

                {% when types::Status::Over with {winner} %}

                {% match winner %}
                {% when Some with (0) %}
                <div>Blue Wins</div>
                {% when Some with (1) %}
                <div>Red Wins</div>
                {% when None %}
                <div>It's a Tie</div>
                {% else %}
                {% endmatch %}

                {% when types::Status::InProgress with {next_player} %}

                {% match next_player %}
                {% when 0 %}
                <div>Blue's Turn</div>
                {% when 1 %}
                <div>Red's Turn</div>
                {% else %}
                {% endmatch %}


                {% let player = connect4_match.players.get(next_player.clone()).unwrap() %}
                {% match player %}
                {% when types::Player::User(user) %}

                {% if user.username == auth_user.username %}
                <div>That's You</div>
                {% else %}
                <div>Waiting on {{ user.username }}</div>
                {% endif %}

                {% when types::Player::Agent(agent) %}
                <div>Waiting on {{ agent.username }}/{{ agent.agentname }}</div>
                {% endmatch %}

                {% else %}
                {% endmatch %}
            </div>
            <div>
                <svg width="350px" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <pattern id="cell-pattern" patternUnits="userSpaceOnUse" width="100" height="100">
                            <circle cx="50" cy="50" r="45" fill="black"></circle>
                        </pattern>
                        <mask id="cell-mask">
                            <rect width="100" height="600" fill="white"></rect>
                            <rect width="100" height="600" fill="url(#cell-pattern)"></rect>
                        </mask>
                    </defs>

                    {% match connect4_match.status %}
                    {% when types::Status::InProgress with {next_player} %}

                    {% let player = connect4_match.players.get(next_player.clone()).unwrap() %}
                    {% match player %}
                    {% when types::Player::User(user) %}
                    {% if user.username == auth_user.username %}
                    <svg x="0" y="0">
                        {% for i in 0..7 %}
                        <g>
                            <circle cx="{{ i*100 + 50 }}" cy="50" r="45"
                                hx-post="/app/games/connect4/matches/{{connect4_match.id}}/turns/create_turn"
                                hx-target="#state" hx-vals='{"player": {{ next_player }}, "column": {{i}}}'>
                            </circle>
                        </g>
                        {% endfor %}
                    </svg>
                    {% else %}
                    {% endif %}
                    {% when types::Player::Agent(agent) %}
                    {% endmatch %}


                    {% else %}
                    {% endmatch %}


                    {% for col in 0..7 %}
                    <svg x="{{100 * col}}" y="100">
                        {% for row in 0..6 %}
                        {% let cell = connect4_match.state.board[col * 6 + row].clone() %}

                        {% match cell %}
                        {% when Some with (0) %}
                        <circle cx="50" cy="{{550-row*100}}" r="45" fill="#254689"></circle>
                        {% when Some with (1) %}
                        <circle cx="50" cy="{{550-row*100}}" r="45" fill="#FC7E69"></circle>
                        {% when None %}
                        {# empty slot #}
                        {% else %}
                        {% endmatch %}
                        {% endfor %}
                        <rect width="100" height="600" fill="cadetblue" mask="url(#cell-mask)"></rect>
                    </svg>
                    {% endfor %}
                </svg>
            </div>
        </section>

        <section class="box flex-grow:1">
            <h2>Turns</h2>
            {% for turn in connect4_match.turns %}
            {% if !loop.first %}
            <ul>
                <li>
                    <span>Turn {{turn.number}}</span>
                    <span>{% match turn.player %}
                        {% when Some with (0) %}
                        Blue
                        {% when Some with (1) %}
                        Red
                        {% else %}
                        {% endmatch %}

                        {% match turn.action %}
                        {% when Some with (action) %}
                        {{action.column}}
                        {% else %}
                        {% endmatch %}
                    </span>
                </li>
            </ul>
            {% endif %}
            {% endfor %}
        </section>
    </div>
    {% endblock state %}
</div>
{% endblock main %}