{% match options %}
{% when CreateMatchOptions::Me with (username) %}
<input name="player_name_{{i}}" type="hidden" value="{{ username }}">
{% when CreateMatchOptions::User with (users) %}
<label for="player_{{i}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">username</label>
<select name="player_name_{{i}}" id="player_{{i}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    {% for user in users %}
        <option value="{{user}}"
        {% match selected %}
        {% when Some with (selected) %}
        {% if user == selected %}
        selected
        {% endif %}
        {% when None %}
        {% endmatch %}
        >{{user}}</option>
    {% endfor %}
</select>
{% when CreateMatchOptions::Agent with (agents) %}
<label for="player_{{i}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">username</label>
<select name="player_name_{{i}}" id="player_{{i}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    {% for agent in agents %}
        <option value="{{agent}}"
        {% match selected %}
        {% when Some with (selected) %}
        {% if agent == selected %}
        selected
        {% endif %}
        {% when None %}
        {% endmatch %}
        >{{agent}}</option>
    {% endfor %}
</select>
{% endmatch %}