<form hx-post="/app/agents/create_agent" class="table">
    <div class="row" role="radiogroup" aria-labelledby="game-lbl">
        <span id="game-lbl">Connect4</span>
        <div>
            <div>
                <label>
                    <input type="radio" name="game" value="connect4" checked>
                    Connect4
                </label>
            </div>
        </div>
    </div>
    {% match agentname_error %}
    {% when Some with (error) %}
    <p class="row bad color border">{{error}}</p>
    {% else %}
    {% endmatch %}
    <p class="row">
        <label for=agentname>Agent Name</label>
        <input type="text" id=agentname name="agentname" value="{{agentname}}" placeholder="random" required>
    </p>
    {% match url_error %}
    {% when Some with (error) %}
    <p class="row bad color border">{{error}}</p>
    {% else %}
    {% endmatch %}
    <p class="row">
        <label for=url>Agent Url</label>
        <input type="text" id=url name="url" value="{{url}}" placeholder="http://steve.com/random" required>
    </p>
    <button type="submit">Create</button>
</form>