<form hx-post="/app/agents/create_agent">
    <div class="mb-6">
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Game</h3>
        <ul class="items-center w-full text-sm font-medium text-gray-900 border  rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                <div class="flex items-center pl-3">
                    <input id="game" type="radio" value="connect4" name="game" class="w-4 h-4 text-blue-600 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" checked>
                    <label for="game" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Connect4</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="mb-6">
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white
        {% match agentname_error %}
        {% when Some with (error) %}
        text-red-700
        {% else %}
        {% endmatch %}
        ">Agent Name</h3>
        <input type="text" id="agentname" name="agentname" value="{{agentname}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="random" required />
        {% match agentname_error %}
        {% when Some with (error) %}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{error}}</p>
        {% else %}
        {% endmatch %}
    </div>
    <div class="mb-6">
        <h3 class="mb-4 font-semibold text-gray-900 dark:text-white
        {% match url_error %}
        {% when Some with (error) %}
        text-red-700
        {% else %}
        {% endmatch %}
        ">Agent Url</h3>
        <input type="text" id="url" name="url" value="{{url}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://steve-connect4.com/random" required />
        {% match url_error %}
        {% when Some with (error) %}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{error}}</p>
        {% else %}
        {% endmatch %}
    </div>
    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Play</button>
</form>