<form hx-post="/app/games/connect4/matches/create_match" class="table">
    {% match blue_error %}
    {% when Some with (error) %}
    <p class="row bad color border">{{error}}</p>
    {% else %}
    {% endmatch %}
    <div class="row" role="radiogroup" aria-labelledby="blue-lbl">
        <span id="blue-lbl">Blue Player</span>
        <div>
            <div><label><input type=radio name=player_type_1 value="me"
                        hx-get="/app/games/connect4/matches/create_match/selects" hx-target="#blue_name" {% match
                        blue.options %} {% when CreateMatchOptions::Me with (_) %} checked {% else %} {% endmatch %}>
                    Me</label></div>
            <div><label><input type=radio name=player_type_1 value="user"
                        hx-get="/app/games/connect4/matches/create_match/selects" hx-target="#blue_name" {% match
                        blue.options %} {% when CreateMatchOptions::User with (_) %} checked {% else %} {% endmatch %}>
                    Other Human</label>
            </div>
            <div><label><input type=radio name=player_type_1 value="agent"
                        hx-get="/app/games/connect4/matches/create_match/selects" hx-target="#blue_name" {% match
                        blue.options %} {% when CreateMatchOptions::Agent with (_) %} checked {% else %} {% endmatch %}>
                    Agent</label></div>
        </div>
    </div>
    <div id="blue_name" class="row">
        {{blue|safe}}
    </div>
    {% match red_error %}
    {% when Some with (error) %}
    <p class="row bad color border">{{error}}</p>
    {% else %}
    {% endmatch %}
    <div class="row" role="radiogroup" aria-labelledby="red-lbl">
        <span id="red-lbl">Red Player</span>
        <div>
            <div><label><input type=radio name=player_type_2 value="me"
                        hx-get="/app/games/connect4/matches/create_match/selects" hx-target="#red_name" {% match
                        red.options %} {% when CreateMatchOptions::Me with (_) %} checked {% else %} {% endmatch %}>
                    Me</label></div>
            <div><label><input type=radio name=player_type_2 value="user"
                        hx-get="/app/games/connect4/matches/create_match/selects" hx-target="#red_name" {% match
                        red.options %} {% when CreateMatchOptions::User with (_) %} checked {% else %} {% endmatch %}>
                    Other Human</label>
            </div>
            <div><label><input type=radio name=player_type_2 value="agent"
                        hx-get="/app/games/connect4/matches/create_match/selects" hx-target="#red_name" {% match
                        red.options %} {% when CreateMatchOptions::Agent with (_) %} checked {% else %} {% endmatch %}>
                    Agent</label></div>
        </div>
    </div>
    <div class="row" id="red_name">
        {{red|safe}}
    </div>
    <button type="submit">Play</button>
</form>