{% match options %}
{% when CreateMatchOptions::Me with (username) %}
<input name="player_name_{{i}}" type="hidden" value="{{ username }}">
{% when CreateMatchOptions::User with (users) %}
<label for="player_{{i}}">UserName</label>
<select name="player_name_{{i}}" id="player_{{i}}">
    {% for user in users %}
    <option value="{{user}}" {% match selected %} {% when Some with (selected) %} {% if user==selected %} selected {%
        endif %} {% when None %} {% endmatch %}>{{user}}</option>
    {% endfor %}
</select>
{% when CreateMatchOptions::Agent with (agents) %}
<label for="player_{{i}}">AgentName</label>
<select name="player_name_{{i}}" id="player_{{i}}">
    {% for agent in agents %}
    <option value="{{agent}}" {% match selected %} {% when Some with (selected) %} {% if agent==selected %} selected {%
        endif %} {% when None %} {% endmatch %}>{{agent}}</option>
    {% endfor %}
</select>
{% endmatch %}